*{
    padding: 0px;
    margin: 0px;
}
html{
    scroll-behavior: smooth;
}
:root{
    --navbar-height:59px;
}
/* Navbar */
#navbar{
    display: flex;
    align-items: center;
    position: relative  ;
    top: 0px;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: .5;
}
#logo{
    margin: 10px 34px;
}
#logo img{
    height: 60px;
    border-radius: 20px;
    margin: 10px 20px;
    border:  1px solid black;
    
}
#navbar ul{
    display: flex;
    font-family: 'Source Sans Pro', sans-serif;
}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}
/* home section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 550px;
    align-items: center;
    justify-content: center;
}
#home::before{
    content: "";
    position: absolute;
    background: url('/img/bg1.jpg')center center/cover no-repeat;
    height: 642px;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.89;
}
#home h1{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Baloo Bhai 2', cursive;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Baloo Bhai 2', cursive;
}
/* Sevices  Section*/
#services{
    display: flex;
    margin: 34px;
    
}
#services .box{
    border:  2px solid red;
    padding: 34px;
    margin: 2px 56px;
    border-radius: 20px;
    background-color: rgb(233, 233, 226);
    margin-bottom: 20px;
}
#services .box img{
    height: 160px;
    margin: auto;
    display: block;
    
}
/*clents section */
#client-section{ 
    position: relative;
}

#client-section::before{
 content: "";
 position: absolute;
 background: url('/img/bg.jpg');
 width: 100%;
 height: 100%;
 z-index: -1;
 opacity: 0.3;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item{
    padding: 34px;
}

#clients img{
    height: 124px;
}

/* Contact Section */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: url('/img/contact.jpg')no-repeat center center/cover;
    z-index: -1;
    opacity: .7;

}
#contact-box{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom:34px ;
}
#contact-box input,#contact-box textarea{
    width: 100%;
    padding: .5rem;
    border-radius: 10px;
    font-size: .7rem;

}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.5rem;
    font-family: 'Source Sans Pro', sans-serif;
}

/*Footer class*/
footer{
    background: black;
    color: white;
    padding: 10px 20px;
}
/* utility classes*/
.h-primary{
    font-size: 2rem;
    padding: 12px; 
    font-family: 'Source Sans Pro', sans-serif;
}
.h-secondary{
    font-size: 2rem;
    padding: 12px;
    font-family: 'Source Sans Pro', sans-serif;
}
.center{
    text-align: center;
}
.btn{
    padding: 6px 20px;
    background-origin: 2px solid white;
    background-color:brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 12px;
    cursor: pointer;
}


